/* eslint-disable no-var */

module.exports = {
  formatTitle: function (combat) {
    if (!combat) {
      return ''
    }

    // 好友对战
    if ((combat.state === 'create' || combat.state === 'ready' || combat.state === 'end') && combat.type === 'friend') {
      return combat.book.name + '（' + combat.wordList.length + '词/局）'
    }

    // 随机匹配
    if ((combat.state === 'create' || combat.state === 'precreate' || combat.state === 'lock' || combat.state === 'ready') && combat.type === 'random') {
      return combat.book.name
    }

    // 对战开始
    if (combat.state === 'start') {
      return combat.book.shortName + '『 ' + (combat.wordsIndex + 1) + ' / ' + combat.wordList.length + ' 』'
    }

    return '单词天天斗'
  },

  showSetting: function (combat) {
    if (!combat) {
      return false
    }

    var state = combat.state

    // NOTE: 微信小程序 bug，有 state === 'precreate'，随机匹配情况下，返回 true 也不会展示
    // 写法 1. return ['precreate', 'create', 'lock', 'ready'].indexOf(state) !== -1
    // 写法 2. return ['start', 'dismiss', 'end'].indexOf(state) === -1
    // ↑ 上面两个写法都没用，最后在 home/main 中跳转随机匹配的时候 store.setState({ combat: { ...combatInfo, state: 'lock', next: '', _id: '', _createTime: '', isOwner: true }})，设置 state 为 lock 解决的
    return ['precreate', 'create', 'lock', 'ready'].indexOf(state) !== -1
  },

  showRandomScene: function (combat) {
    if (!combat) {
      return false
    }

    var state = combat.state
    var type = combat.type
    return (state === 'create' || state === 'ready' || state === 'precreate' || state === 'lock') && type === 'random'
  },

  showNPCScene: function (combat) {
    if (!combat) {
      return false
    }

    var state = combat.state
    var type = combat.type
    return ((state === 'create' || state === 'precreate') && type === 'random') || (state === 'start' && type === 'npc')
  }
}
